@page
@model DogNet.Pages.InstituicoesModel
@{
}

<html>
<head>
    <style>
        #Espaco {
            position: relative;
            padding: 33px;
        }
    </style>
</head>
<body>
    @if (true)
    {
        Models.Instituicoes vwInst = new Models.Instituicoes();
        foreach (var item in Controllers.FrontSupport.SelectInfoInst())
        {
            if (vwInst.Nome != item.Nome)
            {
                <div id="Espaco">
                    <h1>@item.Nome</h1>
                    <p>@item.Description</p>
                    <p> Numero : @item.Telefone | Email : @item.Email</p>
                </div>

            }
        }


    }
</body>
</html>
